body {
    color:#333;
    background-color:white;
    margin:20px;
    padding:0px;
    font:11px verdana, arial, helvetica, sans-serif;
    }

h1 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:28px;
    font-weight:900;
    color:#ccc;
    }

h2 {
    font:bold 12px/14px verdana, arial, helvetica, sans-serif;
    margin:0px 0px 5px 0px;
    padding:0px;
    }

p {
    font:11px/20px verdana, arial, helvetica, sans-serif;
    margin:0px 0px 16px 0px;
    padding:0px;
    }
.Content>p {margin:0px;}
.Content>p+p {text-indent:30px;}

a {
    color:#09c;
    font-size:11px;
    font-family:verdana, arial, helvetica, sans-serif;
    font-weight:600;
    text-decoration:none;
    }
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}
  

/* All the content boxes belong to the content class. */
.content {
    position:relative; /* Position is declared "relative" to gain control
of stacking order (z-index). */
    width:auto;
    min-width:120px;
    margin:0px 210px 20px 210px;
    border:1px solid black;
    background-color:white;
    padding:10px;
    overflow:hidden;
    z-index:3; /* This allows the content to overlap the right menu in
narrow windows in good browsers. */
    }

#navAlpha {
    position:absolute;
    width:190px;
    top:20px;
    left:20px;
    z-index:2;
    }
body>#navAlpha {width:190px;}
        
#navBeta {
    position:absolute;
    width:190px;
    top:20px;
    right:20px;
    z-index:1;
    }
body>#navBeta {width:190px;}

 
.navbox {
    position:relative;
    border:1px dashed black;
    background-color:#eee;
    padding:10px;
    margin:0px 0px 20px 0px;
    }
