include *.txt
recursive-include tests *.py
include TODO.tsk
include setup.py
include make.py
prune dist.in
recursive-include taskcoachlib/bin.in *.so *.pyd
include build.in/fedora/taskcoach.desktop
include icons.in/taskcoach.png
