Source: taskcoach
Section: office
Priority: optional
Maintainer: Frank Niessink <frank@niessink.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5), python, dpatch
Build-Depends-Indep: python-support (>= 0.5.3)
Standards-Version: 3.7.3
Homepage: http://www.taskcoach.org/

Package: taskcoach
Architecture: all
Depends: ${python:Depends}, python-wxgtk2.8, python-wxversion, ${misc:Depends}
Description: Your friendly taskmanager.
 Task Coach is a simple open source todo manager to manage
 personal tasks and todo lists. It grew out of a frustration that
 well-known task managers, such as those provided with Outlook or Lotus
 Notes, do not provide facilities for composite tasks. Often, tasks and
 other things todo consist of several activities. Task Coach is designed
 to deal with composite tasks.