[Desktop Entry]
Encoding=UTF-8
Name=Task Coach
GenericName=Task Coach
Comment=Your friendly task manager
Exec=taskcoach.py
Icon=taskcoach
Terminal=false
Type=Application
Categories=Office;Application;

