.DS_Store
*.pyc
@webchecker.pickle
dist
CHANGES.txt
changelog_content
taskcoachlib/imported.xml
taskcoachlib/gui/icons.py
taskcoachlib/i18n/[a-z][a-z].py
taskcoachlib/i18n/[a-z][a-z]_[A-Z][A-Z].py
taskcoachlib/i18n/nds.py
taskcoachlib/i18n/pap.py
taskcoachlib/thirdparty/pybonjour.py
taskcoachlib/thirdparty/pyparsing.py
taskcoachlib/thirdparty/wmi.py
taskcoachlib/thirdparty/aui
taskcoachlib/thirdparty/chardet
taskcoachlib/thirdparty/dateutil
taskcoachlib/thirdparty/gntp
taskcoachlib/thirdparty/desktop
taskcoachlib/thirdparty/keyring
taskcoachlib/thirdparty/lockfile
taskcoachlib/thirdparty/squaremap
taskcoachlib/thirdparty/xdg
taskcoachlib/thirdparty/pubsub
taskcoachlib/persistence/xml/templates.py
website.out
taskcoachlib/used.txt
website.in/all_changes.html
website.in/changes.html
website.in/md5digests.py
taskcoachlib/imported.txt
taskcoachlib/meta/revision.py
i18n.in/messages.pot
TaskCoach.egg-info
build
__pycache__
*.delta
