include *.txt
recursive-include tests *.py
include TODO.tsk
include setup.py
include pymake.py
prune dist.in
include build.in/linux_common/taskcoach.desktop
include build.in/debian/taskcoach.appdata.xml
include icons.in/taskcoach.png
prune website.in
